## Copyright (C) 2012 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: sandbox-app-launcher
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), genmkfile, dh-apparmor, ronn
Homepage: https://github.com/Whonix/sandbox-app-launcher
Vcs-Browser: https://github.com/Whonix/sandbox-app-launcher
Vcs-Git: https://github.com/Whonix/sandbox-app-launcher.git
Standards-Version: 4.3.0

Package: sandbox-app-launcher
Architecture: all
Depends: sudo, bubblewrap, apparmor, libseccomp-dev, helper-scripts,
 ${misc:Depends}
Description: An app launcher to start apps in a restrictive sandbox
 Runs each app as its own user, in a bubblewrap sandbox and confined
 by apparmor. Currently a WIP and not for actual use.
