## Copyright (C) 2012 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: helper-scripts
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), genmkfile, dh-python, ronn
Homepage: https://github.com/Whonix/helper-scripts
Vcs-Browser: https://github.com/Whonix/helper-scripts
Vcs-Git: https://github.com/Whonix/helper-scripts.git
Standards-Version: 4.3.0

Package: helper-scripts
Architecture: all
Depends: sudo, python3, python3-stem, ${misc:Depends}
Replaces: anon-shared-helper-scripts
Description: Helper scripts useful for Anonymizing Linux Distributions
 Library that can be used by other (anonymity related) packages that want to
 programmatically get information about states of Tor. Common code, that is
 often required. Includes bash and Python helper scripts.
